@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.Banner{
    background-image: url("../images/Grand Opening.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 95%;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight:bold;
    font-family: "Bitter",serif;  
}

.Buttom{
    margin-left: 400px ;
}
